[submodule "plugged/NERDTree"]
	path = plugged/NERDTree
	url = https://github.com/preservim/nerdtree
[submodule "plugged/auto-pairs"]
	path = plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "plugged/emmet-vim"]
	path = plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "plugged/gruvbox"]
	path = plugged/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "plugged/vim-polyglot"]
	path = plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
